* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../images/outro.png);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat";
}

.btn {
  padding: 20px 40px;
  background: rgba(255, 255, 255, 0.4);
  border: 4px solid rgb(0, 104, 174);
  color: rgb(0, 104, 174);
  cursor: pointer;
  font-weight: 900;
  transition: 0.8s;
  position: relative;
  overflow: hidden;
}

.btn:hover {
  color: #fff;
  background: rgb(0, 104, 174);
}

.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: rgb(0, 104, 174);
  z-index: -1;
  transition: 0.8s;
  border-radius: 0 0 50% 50%;
}

.btn:hover::before {
  height: 180%;
}

.result {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 35px;
  padding-right: 35px;
  width: 100%;
}

.right {
  color: green;
  font-size: 50px;
  font-weight: 900;
}
.wrong {
  color: red;
  font-size: 50px;
  font-weight: 900;
}

